body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td{margin:0;padding:0; border:0;}
body,button,input,select,textarea{font:12px/1.6  "\5FAE\8F6F\96C5\9ED1";}/*5FAE\8F6F\96C5\9ED1  Verdana, Helvetica, sans-serif*/
h1,h2,h3,h4,h5,h6{font-size:100%;}
address,cite,dfn,em,var{font-style:normal;}
code,kbd,pre,samp{font-family:courier new,courier,monospace;}
small{font-size:12px;}
ul,ol,li{list-style:none;}
a:link,a:visited{color:#898989;text-decoration:none;}
a:hover,a:active{color:#898989;text-decoration:none;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
legend{color:#000;}
fieldset,img{border:0;}
button,input,select,textarea{font-size:100%;}
table{border-collapse:collapse;border-spacing:0;}
input{outline: none;}/* 屏蔽文本框高亮 */
textarea {outline: none;} 
a{text-decoration:none;color:#333;outline:none;}
a:hover{text-decoration:none;color:#F40;outline:none;}
/* 清理浮动 */
.clear:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clear {zoom:1; /* for IE6 IE7 */}
.clear20{ clear:both; height:20px;}

#container{ width:100%; min-height:600px; height:auto!important; height:600px;}

/* 首页头部 */
.header{ width:100%; height:50px;}
.logo{ float:left; width:175px; height:25px; margin:12px 0 0 15px;}
.logo a img{ border:none;}
.bar{ float:right; width:20px; height:50px; background:url(../images/headbg.jpg) right center no-repeat; margin-right:15px;}
.content{ width:100%;}
.con_title{ width:100%; height:50px; line-height:50px; background:#1ba1e2; color:#fff; font-size:18px; text-align:center;}
.con_text{ width:100%; height:50px; line-height:50px; color:#000; font-size:16px; text-align:center;}
.con_banner{ width:218px; height:170px; margin:0 auto;}
.con_btn{ width:140px; height:40px; line-height:40px;  text-align:center;  background:#1ba1e2; margin:20px auto; }
.con_btn a{width:140px; height:40px;display:block; color:#fff; font-size:16px;}
.con_test{ width:300px; margin:0 auto; text-align:left; line-height:25px; font-size:16px; color:#000; margin-top:20px;}
.con_choice{ width:260px; margin:20px auto; min-height:100px; height:auto!important; height:100px; line-height:25px; color:#000; font-size:16px;}
.con_jzbox{ width:236px; height:323px; background:url(../images/resultbg.png) no-repeat; margin:20px auto;}
.con_jzleft{ float:left; width:115px; height:115px; margin:120px 5px 5px 0;}
.con_jzright{ float:left; width:115px; height:90px; margin:60px 0 65px 0; padding-top:25px; color:#fff; font-size:18px;text-align:center; line-height:30px;}
.con_jzright div{ font-size:32px; font-weight:800;}
.con_jzbot{ clear:both; width:236px; height:83px; color:#fff; font-size:18px;text-align:center; line-height:40px;}
.con_jzbot span{ font-size:24px;font-weight:800;}
.con_jzbtn{ width:236px; height:40px; line-height:40px;  text-align:center;  background:#1ba1e2; margin:20px auto; }
.con_jzbtn a{width:236px; height:40px;display:block; color:#fff; font-size:16px;}
.con_jzr1{ width:160px; height:50px; line-height:50px; color:#000; font-size:28px; text-align:center; margin-bottom:70px;}
.con_jzr2{ width:120px; height:74px; margin:0 auto;}
.con_jzr3{ width:160px;}
.con_btn2{width:140px; height:40px; margin:20px auto;}
.btn_submit{width:140px; height:40px; line-height:40px;  text-align:center;  background:#1ba1e2;  color:#fff; font-size:16px; border:none; cursor:pointer;}

.con_tree:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.con_tree{zoom:1;}
ul.con_tree{ width:320px; height:380px; margin:0 auto; background:url(../images/tree.png) center no-repeat; position:relative;}
ul.con_tree li{ position:absolute; width:54px; height:54px;}
ul.con_tree li div img{ width:54px; height:54px; border:0; transition:border linear .2s,box-shadow linear .5s;
 -moz-transition:border linear .2s,-moz-box-shadow linear .5s;
 -webkit-transition:border linear .2s,-webkit-box-shadow linear .5s;
 outline:none;border-color:rgba(255,255,255,.75);
 box-shadow:0 0 8px rgba(255,255,255,.5);
 -moz-box-shadow:0 0 8px rgba(255,255,255,.5);
 -webkit-box-shadow:0 0 8px rgba(255,255,255,3);}
ul.con_tree li.gifpos1{ left:0; top:280px;}
ul.con_tree li.gifpos2{ left:60px; top:250px;}
ul.con_tree li.gifpos3{ left:150; top:200px;}
ul.con_tree li.gifpos4{ right:0; top:280px;}
ul.con_tree li.gifpos5{ right:10px; top:220px;}
ul.con_tree li.gifpos6{ right:140px; top:120px;}
ul.con_tree li.gifpos7{ left:120px; top:200px;}
ul.con_tree li.gifpos8{ left:60px; top:100px;}
ul.con_tree li.gifpos9{ left:220px; top:150px;}
ul.con_tree li.gifpos10{ left:200px; top:80px;}
ul.con_tree li div{width:54px;height:54px; display:inline-block; position:relative;cursor:pointer;}
/* hover状态 */
ul.con_tree .check{width:4px;height:4px;display:inline-block;position:absolute;top:0;right:0px;z-index:999;}
/* click状态 */
ul.con_tree li div span.checked{width:50px;height:50px;border:2px solid #f1f911;display:block;position:absolute;top:0;right:0px;z-index:999;}
.gifthide{ display:none;}
.con_treebtn{ width:236px; height:40px; line-height:40px;  text-align:center;  background:#f1af0e; margin:20px auto; }
.con_treebtn a{width:236px; height:40px;display:block; color:#fff; font-size:16px;}
.btn_hk{width:236px; height:40px;display:block; color:#fff; font-size:16px;text-align:center;  background:#f1af0e; margin:20px auto; border:none;}
.rightbar{ float:right; width:68px; height:50px; background:url(../images/oldmen.png) right center no-repeat; margin-right:15px;}
